<iframe src ="<%= @wiki.external_wiki_link %>" width="<%= @wiki.iframe_width || '100%' %>" height="<%= @wiki.iframe_height || '80%' %>">
  <p>Your browser does not support iframes.  Its either really old or really new!</p>
</iframe>